@{
    ViewBag.Title = "Importar Datos";
}

<h2>@ViewBag.Title</h2>

@Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

@using (Html.BeginForm("Index", "Importar", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>
        
        <div class="form-group">
            @Html.Label("Archivo: ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="file" name="upload" />
            </div>
            <br />
            <span class="editor-label">@Html.Label("Tipo: ", new { @class = "control-label col-md-2" })</span>
            <span class="editor-field">
                <label>@Html.RadioButton("type", "Clientes", true)Clientes</label>
                <label>@Html.RadioButton("type", "Contactos", true)Contactos</label>
                <label>@Html.RadioButton("type", "Pedidos", true);Pedidos</label>
            </span>
            <br />
        </div>

        <div class="form-group">
            <input type="submit" value="Subir" />
        </div>
</p>
}
<br />
@Html.ActionLink("Volver", "Index", "Home")
